<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>jquery-dataview示例及测试用例</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<script src="jquery-1.11.1.min.js"></script>
	<script src="../jquery-dataview.js"></script>
<style>
#divPrompt {
	position: absolute;
	top: 20px;
	left: 50%;
	/*transform: translateX(-50%);*/
	-webkit-transform: translateX(-50%);
	min-width: 200px;

	border: 1px solid green;
	display: none;
	background-color: lightgreen;
	padding: 20px;
}

.error {
	background-color: red !important;
}

.test {
	display: none;
}
</style>

</head>

<body>
<div id="divPrompt"></div>

<!-- test1 {{{ -->
<div id="test1" class="test">
	<hr>
	test1: DOM填充, 支持子对象; 属性格式化dv-format
	<li class="customer">
		<p>id=<span name="id"></span></p>
		<p>name=<span name="name"></span></p>
		<p>city=<span name="addr.city"></span></p>
	</li>

	<div class="order">
		<p>创建日期：<span name="createTm" dv-format="dateD"></span></p>
		<p>结束日期：<span name="endTm" dv-format="dateD"></span></p>
		<p>总时长：<span name="endTm" dv-format="interval"></span></p>
	</div>
</div>

<script>
function test1()
{
	var customer = {
		id: 1001, 
		name: "SAP AG",
		addr: {country: "CN", city: "Shanghai"}
	};
	var jo = $("#test1 .customer");
	jo.dataview(customer);
	assert(jo.find("[name=id]").html() == "1001");
	assert(jo.find("[name=name]").html() == "SAP AG");
	assert(jo.find("[name=addr\\.city]").html() == "Shanghai");

	customer.name = "SAP China";
	jo.dataview();
	assert(jo.find("[name=name]").html() == "SAP China");

	var data = jo.dataview('getData');
	assert(data === customer);
	var data1 = jo.find("[name=id]").dataview('getData');
	assert(data1 === customer);

	test1_format();

	log("=== test1: pass");
}

function test1_format()
{
	var order = { id: 1001, createTm: "2017/01/03 10:20:30", endTm: "2017/01/10 18:20:30" };
	// 先为属性转换格式
	order.createTm = new Date(order.createTm);
	order.endTm = new Date(order.endTm);

	var opt = {
		formats: {
			dateD: function (val) {
				return val.getFullYear() + "/" + (val.getMonth()+1) + "/" + val.getDate();
			},
			interval: function (val) {
				// this表示当前层次数据
				return Math.round((this.endTm - this.createTm) / (1000*3600*24)) + "天";
			}
		}
	};
	var jo = $("#test1 .order").dataview(order, opt);
	assert(jo.find("[name=createTm]").html() == "2017/1/3");
	assert(jo.find("[name=endTm]:eq(0)").html() == "2017/1/10");
	assert(jo.find("[name=endTm]:eq(1)").html() == "7天");

	// 更新：
	order.endTm = new Date("2017/01/11 18:20:30");
	jo.dataview();
	assert(jo.find("[name=endTm]:eq(0)").html() == "2017/1/11");
	assert(jo.find("[name=endTm]:eq(1)").html() == "8天");
}
</script>
<!-- test1 }}} -->

<!-- test2 {{{ -->
<div id="test2" class="test">
	<hr>
	test2: 根据模板插入列表；计算属性及自动更新

	<ul id="divCustomers"></ul>

	<style type="text/template" id="tplCustomer">
		<li class="customer">
			<p>id=<span name="id"></span></p>
			<p>name=<span name="name"></span></p>
			<p>fullname=<span name="fullname"></span></p>
		</li>
	</style>
</div>

<script>
function test2()
{
	var customers = [
		{ id: 1001, name: "SAP AG" },
		{ id: 2001, name: "Oracle CO" }
	];
	var jtplCustomer = $($("#test2 #tplCustomer").html());
	var jparent = $("#test2 #divCustomers");
	jparent.empty();

	var opt = {
		props: {
			fullname: function () {
				// this表示当前层次数据
				return this.id + " - " + this.name;
			}
		}
	};
	$.each(customers, function (i, customer) {
		jtplCustomer.clone()
			.dataview(customer, opt)
			.appendTo(jparent);
	});

	// 生成两项
	assert(jparent.find(".customer").size() == 2);
	assert(jparent.find(".customer:eq(1) [name=id]").html() == "2001");
	assert(jparent.find(".customer:eq(1) [name=fullname]").html() == "2001 - Oracle CO");

	customers[1].name += " - updated";
	jparent.find(".customer:eq(1)").dataview();

	var newName = customers[1].name;
	assert(jparent.find(".customer:eq(1) [name=fullname]").html() == "2001 - " + newName);

	log("=== test2: pass");
}
</script>
<!-- test2 }}} -->

<!-- test3 {{{ -->
<div id="test3" class="test">
	<hr>
	test3: 循环创建、条件创建、条件显示

	<ul id="divCustomers">
		<li dv-for="customers" dv-if="id>=1000" class="customer">
			<span dv-show="id<=2000">id=<span name="id"></span></span>
			name=<span name="name"></span>
		</li>
	</ul>
</div>

<div id="test3_1" class="test">
	<hr>
	test3_1: dv-for与this

	<ul id="divCustomers">
		<li dv-for="this" class="customer"><span name="this"></span></li>
	</ul>
	<ul id="divCustomers2">
		<li dv-for="this" class="customer" name="this"></li>
	</ul>
</div>
<script>
function test3()
{
	var data = {
		customers: [
			{ id: 1, name: "Olive CO" },
			{ id: 1001, name: "SAP AG" },
			{ id: 2001, name: "Oracle CO" }
		]
	};
	var jo = $("#test3 #divCustomers");
	jo.dataview(data);

	// 生成两项
	assert(jo.find(".customer").size() == 2, "dv-for/dv-if未生效");
	assert(!jo.find(".customer:eq(1) [name=id]").is(":visible"), "dv-show未生效");

	log("=== test3: pass");
}

function test3_1()
{
	var customers = [ "Olive CO", "SAP AG" ];
	var jo = $("#test3_1 #divCustomers");
	jo.dataview(customers);

	assert(jo.find(".customer").size() == 2, "dv-for未生效");
	assert(jo.find(".customer:first span:first").html()==customers[0], "dv-for展开错误");

	var jo2 = $("#test3_1 #divCustomers2");
	jo2.dataview(customers);

	assert(jo2.find(".customer").size() == 2, "dv-for未生效");
	assert(jo2.find(".customer:eq(1)").html()==customers[1], "dv-for展开错误");

	log("=== test3_1: pass");
}

</script>
<!-- test3 }}} -->

<!-- test4 {{{ -->
<div id="test4" class="test">
	<hr>
	test4: 事件绑定

	<form class="customer" dv-on="frmCustomer_submit">
		<p>id=<span name="id"></span></p>
		<input dv-on="txtName_change,txtName_keydown" name="name">
		<button id="btnUpdate" dv-on="btnUpdate_click">更新</button>
	</form>
</div>

<script>
function test4()
{
	test4.cnt_ = 0;
	var events = {
		frmCustomer_submit: function (ev) {
			++ test4.cnt_;
			//alert(arguments.callee.name);
			console.log("cancel submit");
			return false;
		},
		txtName_change: function (ev) {
			alert(arguments.callee.name);
		},
		txtName_keydown: function (ev) {
			console.log(arguments.callee.name);
		},
		btnUpdate_click: function (ev) {
			++ test4.cnt_;
			//alert(arguments.callee.name);
		}
	};
	var opt = {
		events: events
	};

	var customer = { id: 1001, name: "SAP AG" };
	$("#test4 .customer").dataview(customer, opt);

	// 应触发 btnUpdate_click和frmCustomer_submit, 两次
	$("#test4 #btnUpdate").click();
	assert(test4.cnt_ == 2, "事件绑定未生效");

	log("=== test4: pass");
}
</script>
<!-- test4 }}} -->

<!-- test5 {{{ -->
<div id="test5" class="test">
	<hr>
	test5: 多层嵌套

	<div class="customer">
		<p> name: <span name="name"></span>  </p>
		<p> addr: <span name="addr.country"></span> / <span name="addr.city"></span> </p>
		<ul>
			<li dv-for="orders" class="order">
				<p>order id=<span name="id"></span>, amount=<span name="amount"></span></p>
				<ul>
					<li dv-for="items" class="item">
						<p>item id=<span name="id"></span></p>
						<p>item name=<span name="name" dv-format="name"></span></p>
						<p>fullname=<span name="fullname"></span></p>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<script>
function test5()
{
	var customer = {
		id: 1001, 
		name: "SAP AG",
		addr: {country: "CN", city: "Shanghai"},
		orders: [
			{id: 1, amount: 9000, items: [
				{id: 101, name: "item 101"},
				{id: 102, name: "item 102"}
			]},
			{id: 2, amount: 11000, items: [
				{id: 201, name: "item 201"}
			]}
		]
	};
	var itemOpt = {
		props: {
			fullname: function () {
				var order = this.$parent;
				var customer = order.$parent;
				return customer.name + " - " + this.name;
			}
		},
		formats: {
			name: function (val) {
				return '<b>' + val + '</b>';
			}
		}
	};
	var orderOpt = {
		children: {items: itemOpt}
	};
	var customerOpt = {
		children: {orders: orderOpt}
	};

	var jo = $("#test5 .customer");
	jo.dataview(customer, customerOpt);

	assert(jo.find(".order").size() == 2, "生成order数目不对");
	assert(jo.find(".item").size() == 3, "生成item数目不对");
	assert(jo.find(".item:eq(0) [name=fullname]").html() == "SAP AG - item 101", "fullname计算属性不正确");

	// 局部更新：只更新一个order (dv-for结点自动绑定相应数据)
	var jo1 = jo.find(".order:eq(1) .item:eq(0)");
	var item1 = customer.orders[1].items[0];
	var newName = (item1.name += " - updated");
	jo1.dataview();
	assert(jo1.find("[name=name]").html() == "<b>" + newName + "</b>", "局部更新后name计算属性不正确");
	assert(jo1.find("[name=fullname]").html() == "SAP AG - " + newName, "局部更新后fullname计算属性不正确");

	// 局部更新：更新一个未直接绑定数据的子结点
	newName2 = (item1.name += " - updated2");
	jo1.find("[name=fullname]").dataview(); // 只更新fullname, 因而name显示不应变化
	assert(jo1.find("[name=fullname]").html() == "SAP AG - " + newName2, "局部更新后fullname计算属性不正确");
	assert(jo1.find("[name=name]").html() == "<b>" + newName + "</b>", "局部更新fullname时name不应变化");

	log("=== test5: pass");
}
</script>
<!-- test5 }}} -->

<!-- test6 {{{ -->
<div id="test6" class="test">
<style>
.req .user, .req .person, .req .familyTitle {
	background-color: #ccc;
	min-width: 100px;
}
</style>
	<hr>
	test6: dv-elseif/dv-else, 顶层对象"this"
	<ul>
	<li class="req" dv-for="this">
		<div>
			<p class="typeLnk" dv-if="type=='LNK'">
				<span class="user" name="reqUserName"></span>发出靠谱请求：将<span class="person" name="personName"></span>作为<span class="person" name="parentName"></span>的儿子.
			</p>
			<p class="typeCo" dv-else>
				<span class="user" name="reqUserName"></span>发出协作请求：共同编辑家谱<span name="family" class="familyTitle">.</span>
			</p>
			<p class="statusYes" dv-if="status=='YES'">已同意</p>
			<p class="statusNo" dv-elseif="status=='NO'">已拒绝</p>
			<div class="statusNew" dv-else>
				<input type="button" dv-on="btnYesNo_click" data-status="YES" value="同意">
				<input type="button" dv-on="btnYesNo_click" data-status="NO" value="拒绝">
			</div>
		</div>
	</li>
	</ul>
</div>

<script>
function test6()
{
	var reqs = [
		{
			type: "LNK", reqUserName: "发起人A", personName: "子", parentName: "父",
			status: 'YES'
		},
		{
			type: "CO", reqUserName: "发起人B", family: "家族A",
			status: 'NO'
		},
		{
			type: "LNK", reqUserName: "发起人C", personName: "子", parentName: "父",
			status: 'NEW'
		}
	];
	var reqOpt = {
		events: {
			btnYesNo_click: function (ev) {
				var id = ev.data.reqUserName;
				var status = $(this).attr("data-status");
				alert(id + "/" + status);
			}
		}
	};

	var jo = $("#test6 .req");
	jo.dataview(reqs, reqOpt);

	var jp = $("#test6");
	assert(jp.find(".req").size() == 3);
	for (var i=0; i<3; ++i)
		checkSize(i);

	function checkSize(idx)
	{
		var jo1 = jp.find(".req:eq(" + idx + ")");
		assert(jo1.find(".typeLnk").size() == (reqs[idx].type=="LNK")?1:0);
		assert(jo1.find(".typeCo").size() == (reqs[idx].type=="CO")?1:0);
		assert(jo1.find(".statusYes").size() == (reqs[idx].status=="YES")?1:0);
		assert(jo1.find(".statusNo").size() == (reqs[idx].status=="NO")?1:0);
		assert(jo1.find(".statusNew").size() == (reqs[idx].status=="NEW")?1:0);
	}

	log("=== test6: pass");
}
</script>
<!-- test6 }}} -->

<!-- test7 {{{ -->
<div id="test7" class="test">
	<hr>
	test7: 重新绑定数据及选项
	<div class="customer">
		<p>id=<span name="id"></span></p>
		<p>name=<span name="name" dv-format="name"></span></p>
		<p>city=<span name="addr.city" dv-on="city_click"></span></p>
		<ul dv-for="orders">
			<li name="dscr"></li>
		</ul>
	</div>
</div>

<script>
function test7()
{
	var flag = 'init';
	var customer = {
		id: 1001, 
		addr: {country: "CN", city: "Shanghai"},
		orders: [{dscr: 'order1'}, {dscr: 'order2'}]
	};
	var opt = {
		props: {
			name: function () {
				return "customer " + this.id
			}
		},
		formats: {
			name: function (val) {
				return "[" + val + "]";
			}
		},
		events: {
			city_click: function () {
				flag = 'city_click';
			}
		}
	}
	var jo = $("#test7 .customer");
	jo.dataview(customer, opt);
	assert(jo.find("[name=id]").html() == "1001");
	assert(jo.find("[name=name]").html() == "[customer 1001]", "props或dv-format未生效");
	assert(jo.find("[name=addr\\.city]").html() == "Shanghai");
	assert(jo.find("[name=dscr]").size() == 2);
	assert(jo.find("[name=dscr]:eq(1)").html() == "order2");

	jo.find("[name=addr\\.city]").click();
	assert(flag == "city_click", "dv-on绑定未生效");

	customer.orders.push({dscr: "order3"});
	jo.dataview(customer, opt);
	assert(jo.find("[name=dscr]").size() == 3);
	assert(jo.find("[name=dscr]:eq(2)").html() == "order3");

	var customer2 = {
		id: 1002, 
		addr: {country: "CN", city: "Beijing"},
		orders: [{dscr: 'order2.1'}, {dscr: 'order2.2'}, {dscr: 'order2.3'}]
	};
	var opt2 = {
		props: {
			name: function () {
				return "CUSTOMER " + this.id
			}
		},
		formats: {
			name: function (val) {
				return "{" + val + "}";
			}
		},
		events: {
			city_click: function () {
				flag = 'city_click2';
			}
		}
	};
	jo.dataview(customer2, opt2);
	assert(jo.find("[name=id]").html() == "1002");
	assert(jo.find("[name=name]").html() == "{CUSTOMER 1002}", "props或dv-format未生效");
	assert(jo.find("[name=addr\\.city]").html() == "Beijing");

	jo.find("[name=addr\\.city]").click();
	assert(flag == "city_click2", "dv-on重绑定未生效");

	assert(jo.find("[name=dscr]").size() == 3);
	assert(jo.find("[name=dscr]:eq(1)").html() == "order2.2");

	var data = jo.dataview('getData');
	assert(data === customer2);

	var data1 = jo.find("[name=dscr]:eq(1)").dataview('getData');
	assert(data1 === customer2.orders[1]);

	log("=== test7: pass");
}

</script>
<!-- test7 }}} -->

<!-- framework {{{-->
<script>
var RUN_CASE = "all";
//var RUN_CASE = "test7";


var m_curCase;
// type: i-info, e-error
function log(s, type)
{
	if (s.substr(0,3) == "***")
		console.error(s);
	else
		console.log(s);
	var jo = $("#divPrompt").html(s).show();
	jo.toggleClass("error", type=="e");
	setTimeout(function () {
		jo.fadeOut(200);
	}, 1300);
}

function assert(cond, errmsg)
{
	if (!cond) {
		var msg = "*** case `" + m_curCase + "` fails: " + (errmsg || "bad assert");
		log(msg, "e");
		throw "myabort";
	}
}

window.onerror = function (s) {
	if (s.indexOf("myabort") >=0)
		return true;
	log("*** error:" + s, "e");
}

function runTest(jo)
{
	jo.show();
	var fname = jo.attr("id");
	var fn = window[fname];
	if ($.isFunction(fn)) {
		m_curCase = fname;
		fn();
	}
}

function main()
{
	if (RUN_CASE != "all") {
		runTest($("#" + RUN_CASE));
	}
	else {
		// 执行所有测试用例
		$(".test[id]").each(function() {
			runTest($(this));
		});
		log("all tests pass!");
	}
}

$(main);

</script>
<!-- }}} -->

</body>
</html>
<!-- vim: set foldmethod=marker : -->
